{
  "openapi": "3.0.3",
  "info": {
    "title": "Gomate API",
    "description": "Gomate 公开 API — 支持 session cookie 和 API Key 两种认证方式。",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.gomate.live",
      "description": "生产环境"
    },
    {
      "url": "https://api-staging.gomate.live",
      "description": "Staging 环境"
    }
  ],
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "API Key（格式：gm_live_<key>），通过 P1b UI 或 POST /auth/api-key/create 创建"
      },
      "SessionCookie": {
        "type": "http",
        "scheme": "bearer",
        "description": "Web 端 session cookie（登录后自动携带）"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      },
      "sessionCookie": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "string"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer"
          },
          "pageSize": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          },
          "totalPages": {
            "type": "integer"
          },
          "hasMore": {
            "type": "boolean"
          }
        }
      },
      "TeamCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "locationId": {
            "type": "string"
          },
          "leaderId": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "startTime": {
            "type": "string",
            "format": "date-time"
          },
          "endTime": {
            "type": "string",
            "format": "date-time"
          },
          "durationMin": {
            "type": "integer",
            "nullable": true
          },
          "maxMembers": {
            "type": "integer"
          },
          "requirements": {
            "type": "string",
            "nullable": true
          },
          "icon": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["recruiting", "ongoing", "completed", "cancelled"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "currentMembers": {
            "type": "integer"
          },
          "leader": {
            "$ref": "#/components/schemas/Leader"
          },
          "location": {
            "$ref": "#/components/schemas/LocationSummary",
            "nullable": true
          }
        }
      },
      "TeamDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/TeamCard"
          },
          {
            "type": "object",
            "properties": {
              "myStatus": {
                "type": "string",
                "enum": ["none", "pending", "approved", "rejected", "member"]
              },
              "currentMembers": {
                "type": "integer"
              }
            }
          }
        ]
      },
      "Leader": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "nickname": {
            "type": "string",
            "nullable": true
          },
          "level": {
            "type": "string",
            "nullable": true
          },
          "image": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "LocationSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string",
            "nullable": true
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "difficulty": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "LocationDetail": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "slug": {
            "type": "string",
            "nullable": true
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "cityId": {
            "type": "string",
            "nullable": true
          },
          "difficulty": {
            "type": "string",
            "nullable": true
          },
          "durationMin": {
            "type": "integer",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "images": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "bestSeason": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "coordinates": {
            "$ref": "#/components/schemas/Coordinates"
          },
          "gearEssential": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "gearOptional": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "tags": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Tag"
            }
          }
        }
      },
      "Coordinates": {
        "type": "object",
        "properties": {
          "lat": {
            "type": "number"
          },
          "lng": {
            "type": "number"
          }
        }
      },
      "Tag": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "City": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        }
      },
      "Duration": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "分钟数"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "Difficulty": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "TeamStatus": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "label": {
            "type": "string"
          }
        }
      },
      "StoryCard": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "coverImage": {
            "type": "string",
            "nullable": true
          },
          "summary": {
            "type": "string"
          },
          "content": {
            "type": "string"
          },
          "viewCount": {
            "type": "integer"
          },
          "likeCount": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "publishedAt": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "author": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "image": {
                "type": "string",
                "nullable": true
              }
            },
            "nullable": true
          },
          "location": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "name": {
                "type": "string"
              },
              "slug": {
                "type": "string",
                "nullable": true
              }
            },
            "nullable": true
          }
        }
      },
      "StoryDetail": {
        "allOf": [
          {
            "$ref": "#/components/schemas/StoryCard"
          },
          {
            "type": "object",
            "properties": {
              "isLiked": {
                "type": "boolean"
              },
              "tags": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Tag"
                }
              }
            }
          }
        ]
      }
    }
  },
  "paths": {
    "/v1/teams": {
      "get": {
        "operationId": "listTeams",
        "summary": "获取队伍列表",
        "description": "公开读端点，支持分页和多种过滤条件。",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "页码（从 1 开始）"
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 12,
              "maximum": 100
            },
            "description": "每页条数"
          },
          {
            "name": "cityId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "按城市 ID 过滤"
          },
          {
            "name": "tagId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "按标签 ID 过滤"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "状态过滤（recruiting/ongoing/completed/cancelled），逗号分隔多个"
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "标题/描述关键词搜索"
          }
        ],
        "responses": {
          "200": {
            "description": "队伍列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "teams": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TeamCard"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTeam",
        "summary": "创建队伍",
        "description": "认证端点（session 或 x-api-key），需要 Idempotency-Key header。返回 201 创建成功，400 缺少 Idempotency-Key，401 未认证。",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "locationId": {
                    "type": "string",
                    "description": "地点ID"
                  },
                  "title": {
                    "type": "string",
                    "description": "队伍名称",
                    "maxLength": 100
                  },
                  "description": {
                    "type": "string",
                    "description": "描述",
                    "maxLength": 2000
                  },
                  "startTime": {
                    "type": "string",
                    "format": "date-time",
                    "description": "开始时间 ISO8601"
                  },
                  "durationMin": {
                    "type": "integer",
                    "description": "时长（分钟）"
                  },
                  "maxMembers": {
                    "type": "integer",
                    "description": "最大成员数",
                    "minimum": 2,
                    "maximum": 50
                  },
                  "requirements": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "要求清单"
                  }
                },
                "required": ["locationId", "title", "startTime"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "队伍创建成功"
          },
          "400": {
            "description": "缺少 Idempotency-Key 或输入无效"
          },
          "401": {
            "description": "未认证"
          },
          "404": {
            "description": "地点不存在"
          }
        }
      }
    },
    "/v1/teams/{id}": {
      "get": {
        "operationId": "getTeamDetail",
        "summary": "获取队伍详情",
        "description": "公开读端点。认证后可获取当前用户的 myStatus。",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "SessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "队伍 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "队伍详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "team": {
                      "$ref": "#/components/schemas/TeamDetail"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "队伍不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{id}/my-status": {
      "get": {
        "operationId": "getMyTeamStatus",
        "summary": "获取当前用户在本队伍的身份",
        "description": "需认证。未加入返回 {status:\"none\"}；pending 时返回 pollAfterSeconds=300（5分钟轮询建议）。",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "SessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "队伍 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "身份状态",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "none",
                        "pending",
                        "approved",
                        "rejected",
                        "member"
                      ]
                    },
                    "pollAfterSeconds": {
                      "type": "integer",
                      "description": "当 status=pending 时为 300"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/locations": {
      "get": {
        "operationId": "listLocations",
        "summary": "获取地点列表",
        "description": "公开读端点，支持分页、城市和关键词过滤。",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 12,
              "maximum": 100
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "地点名称搜索"
          },
          {
            "name": "cityId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "按城市 ID 过滤"
          }
        ],
        "responses": {
          "200": {
            "description": "地点列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "locations": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/LocationDetail"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLocation",
        "summary": "创建地点",
        "description": "认证端点（session 或 x-api-key），需要 Idempotency-Key header。",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "地点名称"
                  },
                  "slug": {
                    "type": "string",
                    "description": "slug（可选）"
                  },
                  "type": {
                    "type": "string"
                  },
                  "subtitle": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string",
                    "description": "描述"
                  },
                  "address": {
                    "type": "string"
                  },
                  "cityId": {
                    "type": "string",
                    "description": "城市ID"
                  },
                  "cityName": {
                    "type": "string"
                  },
                  "coverImage": {
                    "type": "string",
                    "format": "uri",
                    "description": "封面图 URL"
                  },
                  "images": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "uri"
                    }
                  },
                  "coordinates": {
                    "type": "object",
                    "properties": {
                      "lat": {
                        "type": "number"
                      },
                      "lng": {
                        "type": "number"
                      }
                    }
                  },
                  "bestSeason": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "gearEssential": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "gearOptional": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": ["name", "description", "cityId", "coverImage"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "地点创建成功"
          },
          "400": {
            "description": "缺少 Idempotency-Key 或输入无效"
          },
          "401": {
            "description": "未认证"
          },
          "404": {
            "description": "城市不存在"
          }
        }
      }
    },
    "/v1/locations/{id}": {
      "get": {
        "operationId": "getLocationDetail",
        "summary": "获取地点详情",
        "description": "公开读端点，支持按 ID 或 slug 查询。返回坐标、标签、装备建议等完整信息。",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "地点 ID 或 slug"
          }
        ],
        "responses": {
          "200": {
            "description": "地点详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "location": {
                      "$ref": "#/components/schemas/LocationDetail"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "地点不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/v1/enums": {
      "get": {
        "operationId": "getEnums",
        "summary": "获取枚举值",
        "description": "Agent 合法值发现入口：一次性返回 cities / tags / durations / difficulties / teamStatuses。",
        "responses": {
          "200": {
            "description": "所有枚举值",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "enums": {
                      "type": "object",
                      "properties": {
                        "cities": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/City"
                          }
                        },
                        "tags": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Tag"
                          }
                        },
                        "durations": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Duration"
                          }
                        },
                        "difficulties": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Difficulty"
                          }
                        },
                        "teamStatuses": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/TeamStatus"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/stories": {
      "get": {
        "operationId": "listStories",
        "summary": "获取已发布故事列表",
        "description": "公开读端点，仅返回 published 状态的故事。",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10,
              "maximum": 20
            }
          },
          {
            "name": "locationId",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "按地点 ID 过滤"
          }
        ],
        "responses": {
          "200": {
            "description": "故事列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "stories": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StoryCard"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createStory",
        "summary": "发布故事",
        "description": "认证端点（session 或 x-api-key），需要 Idempotency-Key header。",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "description": "标题",
                    "maxLength": 100
                  },
                  "summary": {
                    "type": "string",
                    "description": "摘要",
                    "maxLength": 150
                  },
                  "content": {
                    "type": "string",
                    "description": "内容",
                    "maxLength": 10000
                  },
                  "coverImage": {
                    "type": "string",
                    "format": "uri"
                  },
                  "locationId": {
                    "type": "string",
                    "description": "关联地点ID"
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "maxItems": 10
                  }
                },
                "required": ["title", "summary", "content", "locationId"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "故事发布成功"
          },
          "400": {
            "description": "缺少 Idempotency-Key 或输入无效"
          },
          "401": {
            "description": "未认证"
          },
          "404": {
            "description": "地点不存在"
          }
        }
      }
    },
    "/v1/stories/{id}": {
      "get": {
        "operationId": "getStoryDetail",
        "summary": "获取故事详情",
        "description": "公开读端点。认证用户可看到 isLiked 状态；draft/hidden 仅对作者本人或 admin 可见。",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "SessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "故事 ID"
          }
        ],
        "responses": {
          "200": {
            "description": "故事详情",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "story": {
                      "$ref": "#/components/schemas/StoryDetail"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "故事不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/api-key/create": {
      "post": {
        "operationId": "createApiKey",
        "summary": "创建 API Key",
        "description": "需认证。每位用户最多 10 个 Key，超额返回 403。",
        "security": [
          {
            "ApiKeyAuth": []
          },
          {
            "SessionCookie": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Key 名称（可选）"
                  },
                  "expiresIn": {
                    "type": "integer",
                    "description": "过期时间（秒），默认 365 天"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Key 创建成功（仅此时返回明文 key）",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string",
                      "nullable": true
                    },
                    "key": {
                      "type": "string",
                      "description": "明文 Key，仅此次返回，请妥善保存"
                    },
                    "prefix": {
                      "type": "string"
                    },
                    "startsAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "nullable": true
                    },
                    "enabled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "未认证",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "403": {
            "description": "超过 10-key 上限",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": false
                    },
                    "error": {
                      "type": "string",
                      "example": "MAX_API_KEYS_EXCEEDED"
                    },
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/teams/{teamId}/members": {
      "post": {
        "operationId": "joinTeam",
        "summary": "申请加入队伍",
        "description": "认证端点（session 或 x-api-key），需要 Idempotency-Key header。",
        "security": [
          {
            "apiKeyAuth": []
          },
          {
            "sessionCookie": []
          }
        ],
        "parameters": [
          {
            "name": "teamId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "队伍ID"
          }
        ],
        "responses": {
          "201": {
            "description": "申请已提交"
          },
          "200": {
            "description": "重新申请成功"
          },
          "400": {
            "description": "缺少 Idempotency-Key 或已在队伍中"
          },
          "401": {
            "description": "未认证"
          },
          "404": {
            "description": "队伍不存在"
          }
        }
      }
    }
  }
}
